{% extends "ekarthomes/base.html" %}
{% block content %}
<section class="section-conten padding-y" style="min-height:84vh">
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
      <h4 class="card-title mb-4">Sign in</h4>
      <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          {% include 'alerts.html' %}
          <div class="form-group">
			 <input type="email" class="form-control" placeholder="Email Address" name="mail" >
          </div> <!-- form-group// -->
          <div class="form-group">
			<input type="password" class="form-control" placeholder="Password" name="password">
          </div> <!-- form-group// -->

          <div class="form-group">
          	<a href="{% url 'forgott_password' %}" class="float-right">Forgot password?</a>

          </div> <!-- form-group form-check .// -->
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Login  </button>
          </div> <!-- form-group// -->
        
        </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->
     <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
     <p class="text-center mt-4">OTP login<a href="{% url 'otp_generate' %}"><br>click_here </a></p>
     <br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}